<article class="post">
  <h2><%= link_to_unless_current post.title, post %></h2>
  <div class="body">
    <%= post.body %>
  </div>
  <div class="options">
    <%= link_to 'Edit', edit_post_path(post) %> | 
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</article>