/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 body{
 	font-family: helvetica;
 }
 h1,h2,h3,h4{
 	font-family: helvetica, arial;
 }
.container{
	width: 800px;
	margin: 0 auto;
}
.options{
	margin-top: 20px;
}
.post{
	margin-top: 20px;
}